@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dreamy-100 text-slate-800 font-surreal overflow-x-hidden;
  }
}

@layer base {
  body {
    @apply bg-dreamy-100 text-slate-800 font-surreal overflow-x-hidden antialiased;
  }
}